@import url(https://fonts.googleapis.com/css?family=Quicksand);
/*this is for all app setings*/
.App {
  text-align: center;
  align-items: left;
  font-family: "Quicksand",sans-serif;
  font-size: calc(5px + 2vmin);
}

.App-logo {
  animation: App-logo-spin infinite 20s  linear;
  height: 2vmax;
  width:4vmax;
  align-items: left;
}

.temp
{
  height: 1400px;
  width: 1100px;
}

.App-link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.blue
{
  color: blue;
}
.bfooter-color1
{
  background-color: blue;
  color: antiquewhite;
  height: 100%;
  width: 100%;
  padding: 0px 0px;
}

.bfooter-color2
{
  background-color: rebeccapurple;
  color: antiquewhite;
  height: 100%;
  width: 100%;
  padding: 0px 0px;
}
.bfooter-color3
{
  background-color: mediumaquamarine;
  height: 100%;
  width: 100%;
  padding: 0px 0px;
}



.Body-footer {

  font-family: Arial, Helvetica, sans-serif;
    color: black;
}
/*
.App-footer {
  background-color: #ffff00;

  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
*/
.Body-footer1 {
  background-color: rgb(255, 115, 0);
  min-height: 3vh;
  max-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;
}